@model Telerik.Sitefinity.Ecommerce.Catalog.Model.Product
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@{
    ViewBag.Title = "Index";
}
@*<link rel="stylesheet" type="text/css" media="screen" href="~/Boris/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="~/css/style.css">*@
<script src="https://use.fontawesome.com/e3fb025e88.js"></script>
@Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/BT/css/bootstrap.min.css"), "head")
@Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/BT/css/custom.min.css"), "head")

<main class="wraper">
    <section class="three_ways_sec">
        <div class="container">
            <div class="inner_tabs accordion" id="accordionExample">
                <div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample">
                    <div class="box_content">
                        <div id="carouselProduct" class="carousel slide" data-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <img src="@Url.WidgetContent("~/ResourcePackages/BT/images/st1.jpg")" width="20px" height="20px" alt="icon" class="img-fluid">
                                            <img src="@Url.WidgetContent("~/ResourcePackages/BT/images/st2.png")" width="20px" height="20px" alt="icon" class="img-fluid">
                                            <div class="heading_h2 news_item">
                                                <h2 class="text-uppercase ">@Model.Title </h2>

                                                <span class="name text-uppercase" style="color:red"><h4> INTRODUCTION </h4></span>

                                                <p>@Model.Description</p>

                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h3>@ViewBag.GyroRange "/s</h3>
                                                    <p>Gyro Range</p>
                                                </div>

                                                <div class="col-sm-3">
                                                    <h3>@ViewBag.GyroBios "/hr</h3>
                                                    <p>Gyro In-Run Bias</p>
                                                </div>

                                                <div class="col-sm-3">
                                                    <h3>@ViewBag.AngularWalk "/vHz</h3>
                                                    <p>Angular Random Walk</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h3>@ViewBag.AccelRange gm</h3>
                                                    <p>Accel Range</p>
                                                </div>

                                                <div class="col-sm-3">
                                                    <h3>@ViewBag.AccelBios ug</h3>
                                                    <p>Accel In-Run Bias</p>
                                                </div>

                                                <div class="col-sm-3">
                                                    <h3>@ViewBag.VelocityWalk m/s/vhr</h3>
                                                    <p>Velocity Random Walk</p>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn_border2">Store</button>
                                                    </div>
                                                </div>
                                                <div class="col-sm-2" style="margin-left:20px">
                                                    .
                                                </div>
                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <a href="@ViewBag.DocumentURL" target="_blank" class="btn btn_border2">Documentation</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <a class="carousel-control-prev" href="#carouselProduct" role="button" data-slide="prev">
                                                <img src="~/images/left_arrow.svg" alt="icon" class="img-fluid">
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <img src="@Model.PrimaryImageUrl" alt="image" class="img-fluid d-block mx-auto">
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="carousel-item">

                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
                    <div class="box_content">

                    </div>
                </div>
                <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
                    <div class="box_content">

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
@section script
{
    @*<script src="file:///C:/Boris/js/jquery.min.js"></script>
        <script src="file:///C:/Boris/js/bootstrap.bundle.min.js"></script>*@
}
