@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/BT/css/bootstrap.min.css"), "head")
@Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/BT/css/custom.min.css"), "head")

<section class="benefits_sec">
    <div class="container">
        <div class="heading_h2" style="text-align:center">
            <h2 class="text-uppercase mb-0">@ViewBag.ListTitle</h2>
        </div>

        <div class="row">
            @foreach (var listItem in ViewBag.ListItems_Obj)
            {

            <div class="col-lg-3 col-md-4">
                <div class="box text-center">

                    @if (!string.IsNullOrEmpty(listItem.SelectedSizeUrl))
                    {
                        <img src="@listItem.SelectedSizeUrl" title="@listItem.ImageTitle" alt="@listItem.ImageAlternativeText" />
                    }
                    <h4>@listItem.title</h4>
                    <p>@listItem.description</p>
                </div>
            </div>
            }
           
        </div>
    </div>
</section>

