@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/BT/css/bootstrap.min.css"), "head")
@Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/BT/css/custom.min.css"), "head")

<section class="three_box_sec">
    <div class="container">
        <div class="row no-gutters">
            @foreach (var listItem in ViewBag.ListItems_Obj)
            {
            <div class="col-md-4">
                <div class="box">
                    <p class="text-uppercase">@listItem.title</p>
                    <h2 class="text-uppercase">@listItem.description</h2>
                    @Html.Raw(listItem.CTALink)

                </div>
            </div>
            }          
        </div>
    </div>
</section>





