@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/BT/css/bootstrap.min.css"), "head")
@Html.StyleSheet(Url.WidgetContent("~/ResourcePackages/BT/css/custom.min.css"), "head")
@model SitefinityWebApp.Mvc.Models.TestimonialCarouselModel
@{
    int cnt = 1;
    string className = "carousel-item active";

    int count = 0;
    string ActiveSlide = "active";
}

<main class="wraper home_page">
    <section class="testimonial_sec">
        <div class="container">
            <div id="carouselTestimonial" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators mb-0">
                    @foreach (var item in Model.GetList())
                    {
                        if (count != 0)
                        {
                            ActiveSlide = "";
                        }

                        <li data-target="#carouselTestimonial" data-slide-to="@count" class="@ActiveSlide"></li>
                        count++;

                    }
                </ol>
                <div class="carousel-inner">

                    @foreach (var item in Model.GetList())
                    {
                        if (cnt == 1)
                        {
                            className = "carousel-item active";
                            cnt++;
                        }
                        else
                        {
                            className = "carousel-item";
                        }
                        <div class="@className">
                            <div class="testimonial_content text-center">
                                <img src="@item.SelectedImageSrc" alt="image" class="profile_pic img-fluid">
                                <h2 class="text-uppercase"> @item.Title</h2>
                                <p>@Html.Raw(item.Description)</p>
                                <span class="name text-uppercase">Company Name</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</main>
@*@Html.Script(Url.WidgetContent("~/ResourcePackages/BT/js/jquery.min.js"), "head")*@
@Html.Script(Url.WidgetContent("~/ResourcePackages/BT/js/bootstrap.bundle.min.js"), "bottom")
